In [ ]:
import requests
import pandas as pd

token = "eyJvcmciOiI1ZTU1NGUxOTI3NGE5NjAwMDEyYTNlYjEiLCJpZCI6IjcxZGFmYmI1NGZkYTQ4NjI5ZGU0Mjk5OTM1ZDlmMzdmIiwiaCI6Im11cm11cjEyOCJ9"
headers = {"Authorization": token}

request = requests.get(url='https://api.dataplatform.knmi.nl/edr/collections/observations/instances/unvalidated/locations/06201?datetime=2023-11-01T04%3A10%3A00Z%2F2023-11-03T04%3A10%3A00Z&parameter-name=t_dryb_10', headers=headers)
jsonre = request.json()
jsonre

r = requests.get(f"https://api.dataplatform.knmi.nl/edr/collections/observations", headers=headers)
r.raise_for_status()
r.json()
'https://api.dataplatform.knmi.nl/edr/collections/observations/instances/unvalidated/locations'

In [100]:
token = "eyJvcmciOiI1ZTU1NGUxOTI3NGE5NjAwMDEyYTNlYjEiLCJpZCI6IjcxZGFmYmI1NGZkYTQ4NjI5ZGU0Mjk5OTM1ZDlmMzdmIiwiaCI6Im11cm11cjEyOCJ9"
headers = {"Authorization": token}

request = requests.get(url='https://api.dataplatform.knmi.nl/edr/collections/observations/instances/unvalidated/locations', headers=headers)
jsonre = request.json()   

df = pd.DataFrame(columns=['Naam', 'id'])
length = len(jsonre['features'])

count = 0 
while count != length - 1:
    df.loc[len(df)] = [jsonre['features'][count]['properties']['name'], jsonre['features'][count]['id']]
    count += 1
    
df['Naam'] = df['Naam'].str.lower()
df[df['Naam'] == 'vlissingen aws']
# df['Naam'].unique()

              Naam     id
47  vlissingen aws  06310

In [101]:
from datetime import date, timedelta
import pandas as pd
weerstat = pd.read_csv('weerstations6.csv',sep=',')
weerstat['station_id'] = '0'
weerstat['date'] = date(year=2023, month=10, day=1)
weerstat['NAME'] = weerstat['NAME'].str.lower()

for i in weerstat.index:
    for j in df.index:
        if weerstat.loc[i, 'NAME'] in df.loc[j, 'Naam']:
            weerstat.loc[i, 'station_id'] = df.loc[j, 'id']
        if weerstat['NAME'][i] == 'gilze-rijen':
            weerstat.loc[i, 'station_id'] = '06350'
        if weerstat['NAME'][i] == 'cabauw mast':
            weerstat.loc[i, 'station_id'] = '06348'
        if weerstat['NAME'][i] == 'valkenburg zh':
            weerstat.loc[i, 'station_id'] = '06210'
        if weerstat['NAME'][i] == 'hoorn terschelling':
            weerstat.loc[i, 'station_id'] = '06251'
        if weerstat['NAME'][i] == 'tholen':
            weerstat.loc[i, 'station_id'] = '06310'
        if weerstat['NAME'][i] == 'hoofdplaat':
            weerstat.loc[i, 'station_id'] = '06310'
        if weerstat['NAME'][i] == 'schaar':
            weerstat.loc[i, 'station_id'] = '06310'

Empty DataFrame
Columns: [WKT, fid, LON(east), LAT(north), ALT(m), NAME, geometry, STN_x, STN_y, station_id, date]
Index: []

In [ ]:
def api_prepper(station_id, start_date, end_date):
    api = f'https://api.dataplatform.knmi.nl/edr/collections/observations/instances/unvalidated/locations/{station_id}?datetime={start_date}T04%3A10%3A00Z%2F{end_date}T04%3A10%3A00Z&parameter-name=t_dryb_10'
    return api

api_prepper('05554', '2023-11-3', '2023-11-4')

def date_adder(df, num_days, len_df):
    """
    Een functie die een dataframe uitbreid voor alle gegevens door een x aantal data toe te voegen.
    Neemt drie argumenten een dataframe(df), aantal dagen(num_days) en de lengte van de dataframe(len_df).
    De functie geeft de datadrame terug met de toegevoegde data.
    """
    count = 0
    add_days = 1 
    while num_days != 0:    
        while count != len_df - 1:
            ndict = [df['WKT'][count], df['fid'][count], df['LON(east)'][count], df['LAT(north)'][count], df['ALT(m)'][count], df['NAME'][count], df['geometry'][count], df['STN_x'][count], df['STN_y'][count], df['station_id'][count], df['date'][count] + timedelta(days=add_days)]
            df.loc[len(df.index)] = ndict
            count += 1
        count = 0
        add_days += 1
        num_days -= 1
    return df

weather_stats = date_adder(weerstat, 30, len(weerstat.index))

In [88]:
df['Naam'].unique()

array(['d15-fa-1', 'p11-b', 'k14-fa-1c', 'a12-cpp', 'f16-a', 'l9-ff-1',
       'awg-1', 'ijmond wp', 'valkenburg vk', 'j6-a', 'hoorn-a',
       'hollandse kust noord (hna)', 'bg-ohvs2', 'voorschoten aws',
       'hollandse kust zuid alfa (hkza)', 'ijmuiden wp', 'texelhors wp',
       'assendelft btp', 'de kooy vk', 'muiden btp', 'nieuw vennep btp',
       'nieuwkoop btp', 'f3-fb-1', 'amsterdam/schiphol ap', 'vlieland',
       'wijdenes wp', 'berkhout aws', 'terschelling hoorn aws', 'k13-a',
       'wijk aan zee aws', 'houtribdijk wp', 'de bilt aws', 'soesterberg',
       'stavoren aws', 'lelystad ap', 'leeuwarden', 'marknesse aws',
       'deelen', 'lauwersoog aws', 'heino aws', 'hoogeveen aws',
       'groningen ap eelde', 'hupsel aws', 'huibertgat wp',
       'nieuw beerta aws', 'twenthe aws', 'cadzand wp', 'vlissingen aws',
       'oosterschelde wp', 'vlakte van de raan', 'hansweert',
       'oosterschelde 4', 'borssele alfa (bsa)', 'westdorpe aws',
       'lichteiland goeree', 'euro platform', 'wilhelminadorp aws',
       'stavenisse', 'hoek van holland aws', 'marollegat', 'woensdrecht',
       'rotterdam geulhaven', 'rotterdam the hague ap',
       'cabauw tower aws', 'gilze rijen', 'herwijnen aws', 'eindhoven ap',
       'volkel', 'ell aws', 'maastricht aachen ap', 'arcen aws',
       'juancho e. yrausquin airport, saba',
       'f.d. roosevelt airport, st. eustatius'], dtype=object)